name: Build HTML

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build-html:
    runs-on: ubuntu-slim

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Install pandoc
        run: sudo apt-get install --yes pandoc

      - name: Build HTML
        run: |
          pandoc --from markdown --to html --output data_policy.html data_policy.md

      - uses: actions/upload-artifact@v6
        with:
          name: data-policy-html
          path: data_policy.html
